<a href="https://colab.research.google.com/github/Trish-01/git/blob/main/Lab_1_Strings_and_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 1**

In [1]:
text = "The quick brown fox jumps over the lazy dog."

- I have created a variable called ***text***. Run the cell above to store the data in memory.
- Run the cell below to check the data type of the data referenced by the variable ***text***

In [2]:
type(text)

str

a) Chek if the text is in lower case. If not convert it.

In [3]:
text.islower()

False

In [5]:
text.lower()

'the quick brown fox jumps over the lazy dog'

b) Check if the text is in upper case. If not convert it.

In [6]:
text.isupper()

False

In [7]:
text.upper()

'THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG'

c) Check if the text is in sentence case. If not convert it.

In [23]:
def is_sentence_case(text):
    # Check if the first character is uppercase and the rest of the sentence is lowercase then checking for punction mark
    if text[0].isupper() and text[1:].islower() and text.endswith('.'):
        return True
    else:
        return False

is_sentence_case(text)

False

In [12]:
text.capitalize()

'The quick brown fox jumps over the lazy dog'

In [ ]:
text

d) Check if the text is in title case. If not convert it.

In [10]:
text.istitle()

False

In [11]:
text.title()

'The Quick Brown Fox Jumps Over The Lazy Dog'

e) Find the number of characters in the variable called ***text***

In [27]:
text.count('')

44

f) Find the index position of the word fox

In [28]:

index_position = text.find("fox")
print(index_position)

16

g) Replace the word fox with lion

In [29]:
new_text = text.replace("fox", "lion")

print(new_text)

The quick brown lion jumps over the lazy dog

h) Split the sentence into a list of words i.e splitting by the space

In [30]:
list = text.split()

print(list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# **Question 2**

a) Create a list which contains the first the following names of people (I have chosen the names at random):

Peter, John, Marry, Thomas, Tatenda

In [31]:
list2 = ["Peter", "John", "Marry", "Thomas", "Tatenda"]

print(list2)

['Peter', 'John', 'Marry', 'Thomas', 'Tatenda']

b) Find the number of elements in the list

In [32]:
len(list2)

5

c) Add another person called John

In [33]:
list2.append("John")

print(list2)

['Peter', 'John', 'Marry', 'Thomas', 'Tatenda', 'John']

d) Add the following people in the list:

Mary, John, Tino,Mary

In [34]:
list2.extend(["Mary", "John", "Tino", "Mary"])

print(list2)

['Peter', 'John', 'Marry', 'Thomas', 'Tatenda', 'John', 'Mary', 'John', 'Tino', 'Mary']

e) How many Mary's, John's and Thomas's do we have in the list?

In [35]:
mary_count = list2.count("Mary")
john_count = list2.count("John")
thomas_count = list2.count("Thomas")

print(f"Mary: {mary_count}")
print(f"John: {john_count}")
print(f"Thomas: {thomas_count}")

Mary: 2
John: 3
Thomas: 1

f) Insert Tom on index position 3

In [36]:
list2.insert(3, "Tom")

print(list2)

['Peter', 'John', 'Marry', 'Tom', 'Thomas', 'Tatenda', 'John', 'Mary', 'John', 'Tino', 'Mary']

g) Find the index position of the first occurence of Mary

In [37]:
list2.index("Mary")

7

h) Remove Tino from the list

In [38]:
list2.remove("Tino")

print(list2)

['Peter', 'John', 'Marry', 'Tom', 'Thomas', 'Tatenda', 'John', 'Mary', 'John', 'Mary']